/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #004d99;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-top: 15px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 800px;
    margin: 10px auto;
}

/* Sección de lista de beneficios */
ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

ul li {
    background-color: #e6f2ff;
    color: #004d99;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 1.1em;
}


/* Sección de opciones */
#opciones {
    text-align: center;
    padding: 40px 0;
}

#opciones div {
    background-color: #ffffff;
    border: 1px solid #f01d1d;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#opciones div h3 {
    color: #004d99;
    margin-bottom: 10px;
}

#opciones div p {
    color: #555;
    margin-bottom: 15px;
}

#opciones div a {
    text-decoration: none;
    color: white;
    background-color: #004d99;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

#opciones div a:hover {
    background-color: #003366;
}

/* Botónes centrado con animación */
#Entendido {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #00bfff;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#Entendido:hover {
    transform: scale(1.05);
    background-color: #3d00e6;
}


/* Recuadros de las secciones (Servicios, Sobre Nosotros, Comentarios) */
#opciones div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #f9f9f9;
    max-width: 300px;
}

#opciones div:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgb(141, 82, 209);
}

/* Enlaces dentro de los recuadros */
#opciones div a {
    display: inline-block;
    margin-top: 10px;
    color: #00bfff;
    text-decoration: none;
    transition: color 0.2s ease;
    


}

#opciones div a:hover {
    color: #ff8800;
}